@import './base.css';

.container {
    max-width: 80vw;
    margin: auto;
    padding: 24px;
}

.block {
  margin-bottom: 40px;
}

.text {
  font-size: 25px;
  letter-spacing: 1px;
}

.text-center {
  text-align: center;
}

.text-accent {
  color: var(--color-heading);
  font-size: 30px;
  padding-right: 20px;
}

@media screen and (max-width: 428px) {
    .container {
        max-width: 95vw;
        margin: auto;
        padding: 12px;
    }
}

.select {
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
}

.heading {
    margin-bottom: 24px;
    font-size: 50px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 18px;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.btn {
    display: inline-block;
    background: rgb(195, 128, 247);;
    padding: 12px 24px;
    border-radius: 5px;
    color: var(--color-background);
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease;
    margin-top: 20px;
}

.btn--small {
  font-size: 14px;
  padding: 12px;
}

.btn--pagination {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}

.btn:hover {
    background: var(--vt-c-text-dark-2);
    color: rgb(195, 128, 247);;
}

.btn--grey {
  background: rgb(69, 68, 67);
  color: #efefef;
}